.toolbar-container {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: center;    
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); /* Автоматическое заполнение колонок шириной 200px */
    gap: 10px; /* Расстояние между картинками */
    justify-content: center; /* Центрирование сетки */
    margin: 0 auto; /* Центрирование контейнера */
    max-width: 660px; /* Максимальная ширина контейнера */
    grid-auto-flow: dense; /* Заполнение пустот */
}